@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Shared Styles */

.container{
    width: 1360px;
    margin: 0 auto;
}

.btn{
    background-color: #218b4d;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.6s ease;
}
.btn:hover{
    box-shadow: 2px 3px  10px #30B868;
}

/* Main Styles */

header{
    padding-top: 16px;
}

/* navbar style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    gap: 20px;
}
nav ul li{
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #001931;
}

/* Banner Style */
#banner{
    margin-top: 16px;
    background-image: url('../assets/hero-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.banner-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 120px;
}
.banner-container .early-btn{
    max-width: max-content;
    color: #30B868;
    padding: 8px 12px;
    border-radius: 20px;
    font-size: 16px;
    border: none;
}

.banner-container .banner-title{
    text-align: center;
    font-size: 72px;
    font-weight: 800;
    color: #ffffff;
    line-height: 80px;
}
.banner-container .banner-title span{
    color: #30B868;
}
.banner-container p{
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    line-height: 30px;
}
.banner-container .banner-btn-parent .banner-btn{
   background-color: transparent;
   border: 1px solid #ffffff;
   margin-left: 10px;
}
.banner-container .banner-btn-parent .banner-btn:hover{
    background-color: #218b4d;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/* notes style */

.notes{
    margin-top: 84px;
}
.notes .notes-header{
    text-align: center;
}
.notes .notes-header h1{
    font-size: 48px;
    font-weight: 800;
    color: #001931;

}
.notes .notes-header p{
    font-size: 16px;
    color: #627382;
    margin: 20px 0px;

}
.notes-info{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.notes .notes-card{
     padding: 35px;
  border-radius: 10px;
 box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
 text-align: center;

}
.notes .notes-card img{
    background-color: #F95555;
    padding: 10px;
    border-radius: 50%;
}

.notes .notes-card h4{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin: 15px 0px;
}
.notes .notes-card p{
    font-size: 16px;
    color: #627382;
}

/* knowledge style*/
.knowledge{
    margin-top: 84px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.knowledge .knowledge-img{
    margin-right: 60px;
    max-width:600px;
    max-width:600px;
}
.knowledge .knowledge-info{
    display: flex;
    flex-direction: column;
    gap: 26px;
}
.knowledge .knowledge-info h4{
    font-size: 16px;
    color: #30B868;
}
.knowledge .knowledge-info h1{
    font-size: 48px;
    font-weight: 800;
    color: #001931;
}
.knowledge .knowledge-info p{
    font-size: 16px;
    color: #626262;
}
.knowledge .knowledge-info .knowledge-solution{
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 16px;
    /* color: #001931; */
}
.knowledge .knowledge-info .knowledge-solution i{
    color: #30B868;
}
.knowledge .knowledge-info .knowledge-solution p{
     color: #001931;
}

/* get-early-access style */

.get-early-access{
    margin-top: 84px;
    background-color: #F7F6F2;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding:80px 0px ;
}

.get-early-access h1{
    font-size: 40px;
    color: #001931;
    font-weight: 800;
}
.get-early-access p{
    font-size: 16px;
    color: #626262;
}

.get-early-access .access-messages{
    display: flex;
    color: #626262;
    font-size: 16px;
     align-items: center;
    gap: 8px;
}
.get-early-access .access-messages i{
    font-size: 10px;
}


/* footer stytle */

footer{
    background-color: #001931;
    margin-top: 84px;
    padding: 120px 120px 30px 120px;
}
footer .footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}
footer .footer-content .social{
    color: #ffffff;
}
footer .footer-content .social p{
    color: #ffffff;
    margin-bottom: 10px;
}
footer .footer-content .social .links a{
    color: #ffffff;
}
footer .copyright{
    text-align: center;
    color: #ffffff;
}

