*{
    margin: 0;
    padding: 0;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* Shared Styles */

.btn{
    background-color: #218b4d;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border: none;
    border-radius: 8px;
}

/* Main Styles */

nav{
    width: 1600px;
    margin: 16px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    gap: 20px;
}
nav ul li{
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #001931;

}